includeConfig './conf/profiles.config'

//Specify default parameters
params {
	
    // main params
    input = null
    outdir = null
    // CREATE_CH_READS
    fastq_dir = "${params.input}/fastq"
    allow_missing_samples = false
    // FASTP
    trim_reads = false

    // genome
    add_genes = null

    // STAR
    star_2pass = false
    junctions = 'NO_FILE'
    readlength = 101

    // MAJIQ
    run_majiq = false

    // resources
    high_depth = false
    rebuild_genome = true
    merge_bams = true
    dev = false

    // validation
    validate_params = true
    show_hidden_params = false
    monochrome_logs = false
    schema_ignore_params = ''
    help = false
}

process {
    errorStrategy = { task.exitStatus in [130, *137..140] ? 'retry' : 'terminate' }
    maxRetries = 1

    withLabel: process_1cpu_32gb_2h {
        time = '2h'
        cpus = { 1 * task.attempt }
        memory = { 32.GB * task.attempt }
    }

    withLabel: process_1cpu_8gb_2h {
        time = '2h'
        cpus = { 1 * task.attempt }
        memory = { 8.GB * task.attempt }
    }

    withLabel: process_6cpu_12gb_6h {
        time = '6h'
        cpus = { 6 * task.attempt }
        memory = { 12.GB * task.attempt }
    }

    withLabel: process_16cpu_64gb_6h {
        time = '6h'
        cpus = { 16 + (4 * task.attempt) }
        memory = { 64.GB * task.attempt }
    }

    withLabel: process_20cpu_48gb_12h {
        time = '12h'
        cpus = { 20 + (4 * task.attempt) }
        memory = { 48.GB * task.attempt }
    }

    withLabel: process_4cpu_256gb_6h {
        time = '6h'
        cpus = { 4 * task.attempt }
        memory = { 256.GB * task.attempt }
    }

    withLabel: process_8cpu_24gb_1h {
        time = '1h'
        cpus = { 8 * task.attempt }
        memory = { 24.GB * task.attempt }
    }

    withLabel: process_8cpu_32gb_30min {
        time = '30min'
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
    }

    withLabel: process_1cpu_1gb_30min {
        time = '30min'
        cpus = { 1 * task.attempt }
        memory = { 1.GB * task.attempt }
    }

    withLabel: process_1cpu_512mb_30min {
        time = '30min'
        cpus = { 1 * task.attempt }
        memory = { 512.MB * task.attempt }
    }

    withLabel: process_1cpu_1gb_30min {
        time = '30min'
        cpus = { 1 * task.attempt }
        memory = { 1.GB * task.attempt }
    }

    withLabel: process_1cpu_64mb_30min_local {
        executor = 'local'
        time = '30min'
        cpus = { 1 * task.attempt }
        memory = { 64.MB * task.attempt }
    }

    withLabel: process_2cpu_2gb_30min {
        time = '30min'
        cpus = { 2 * task.attempt }
        memory = { 2.GB * task.attempt }
    }

    withLabel: process_2cpu_4gb_30min {
        time = '30min'
        cpus = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
    }

    withLabel: process_8cpu_512mb_10min {
        time = '10min'
        cpus = { 8 * task.attempt }
        memory = { 512.MB * task.attempt }
    }

    withLabel: process_1cpu_24gb_2hr {
        time = '2h'
        cpus = { 1 * task.attempt }
        memory = { 24.GB * task.attempt }
    }
    withLabel: process_8cpu_16gb_30min {
        time = '30min'
        cpus = { 16 * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    
    withLabel: process_20cpu_48gb_1h {
        time = { '1h' * task.attempt }
        cpus = { 20 + (4 * task.attempt) }
        memory = { 48.GB * task.attempt }
    }
}

manifest {
    name = 'pfizer-rd/nf-rnaseq'
    author = """Rob Moccia, Melis Atalar Aksit, Abby Hill"""
    homePage = 'https:/github.com/pfizer-rd/nf-rnaseq'
    description = """RNAseq pipeline including STAR 2-pass and local splice variant quantification with MAJIQ"""
    mainScript = 'main.nf'
    nextflowVersion = '>=21.10.6'
    version = '0.1'
}

includeConfig 'conf/modules.config'

